<%- include('header'); -%>

<header>
  <div class="rev-shells">
    <img src="" alt="Reverse Shells">
  </div>
  <div class="headings">
    <h2>Reverse Shells</h2>
    <h3>By a hacker for hackers</h3>
    <a href="" class="btn">View reverse shells</a>
  </div>
</header>

<%- include('footer'); -%>